<template>
  <div class="">
    <div class="df w100">
      <div class="f1 bgfff p20 shadow">
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="新闻资讯" name="news">
            <div class="card">
              <div class="card_left">
                <div class="card_title">
                  朱咏雷到四川调研广播电视直播卫星工作观看中星9B卫星发射
                </div>
                <div class="card_writter">
                  <span>信息科</span>
                  <span>张三</span>
                  <span>2020-08-21</span>
                  <span>板块：公告推送</span>
                </div>
              </div>
              <div class="card_right">撤回</div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="公告推送" name="notice">
            <div class="card">
              <div class="card_left">
                <div class="card_title">
                  朱咏雷到四川调研广播电视直播卫星工作观看中星9B卫星发射
                </div>
                <div class="card_writter">
                  <span>信息科</span>
                  <span>张三</span>
                  <span>2020-08-21</span>
                  <span>板块：公告推送</span>
                </div>
              </div>
              <div class="card_right">撤回</div>
            </div>
            <div class="card">
              <div class="card_left">
                <div class="card_title">
                  朱咏雷到四川调研广播电视直播卫星工作观看中星9B卫星发射
                </div>
                <div class="card_writter">
                  <span>信息科</span>
                  <span>张三</span>
                  <span>2020-08-21</span>
                  <span>板块：公告推送</span>
                </div>
              </div>
              <div class="card_right">撤回</div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="政策推广" name="policy">
            <div class="card">
              <div class="card_left">
                <div class="card_title">
                  朱咏雷到四川调研广播电视直播卫星工作观看中星9B卫星发射
                </div>
                <div class="card_writter">
                  <span>信息科</span>
                  <span>张三</span>
                  <span>2020-08-21</span>
                  <span>板块：公告推送</span>
                </div>
              </div>
              <div class="card_right">撤回</div>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
      <div class="admin_pane  ml20 ">
        <div class="user_detail shadow bgfff">
          <div class="p22 df_jsb align_center border_b">
            <div class="df_ac">
              <img
                class="head_img"
                src="https://www.duohui.cn/img/product/feature-icon/form.png"
                alt=""
              />
              <span class="ml20">系统管理员</span>
            </div>
            <el-button size="mini" @click="postAction">新建发布</el-button>
          </div>
          <div class="df h67 mini">
            <div class="df_center d_col f1 border_r">
              <span>1</span>
              <span class="mt8">发布</span>
            </div>
            <div class="df_center d_col f1">
              <span>0</span>
              <span class="mt8">已发布</span>
            </div>
          </div>
        </div>

        <div class="approve_list mt20 shadow bgfff border_t">
          <div class="border_b h67 lh67 p_lr10">审批中</div>
          <div>
            <div class="p20 df_center d_col">
              <img class="approve_img" src="" alt="" />
              <span class="approve_text mt10">摄影爱好者联盟</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HgsIndex",

  data() {
    return {
      activeName: "news",
    };
  },

  mounted() {},

  methods: {
    handleClick() {},
    postAction() {
      console.log("postAction");
      this.$router.push("/message/post");
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep .el-tabs__active-bar {
  background-color: #568ce6;
  height: 4px;
}

::v-deep .el-tabs__item.is-active {
  font-family: SourceHanSansSC-regular;
  color: #484848;
  font-size: 18px !important;
}

::v-deep .el-tabs__item {
  font-family: SourceHanSansSC-regular;
  color: #a3a3a3;
  font-size: 18px !important;
}
.admin_pane {
  width: 376px;
  height: 100%;
}

::v-deep .el-tabs__header {
  margin: 0;
}

::v-deep .el-button {
  /* width: 80px; */
  height: 39px;
  color: #fff;
  background: #568ce6;
  font-size: 15px;
}
</style>
