<template>
  <div>
    <div class="searchBar df_jsb mb20">
      <div class="left df_ac">
        <span>园区名称：</span>
        <el-input
          class="wSearchInput mr20"
          placeholder="单行输入"
          v-model="searchForm.gardenName"
        ></el-input>
        <span>房屋数量：</span>
        <el-input
          class="wSearchInput mr20"
          placeholder="单行输入"
          v-model="searchForm.houseCount"
        ></el-input>
        <el-button class="mr20" @click="handleSearch">搜索</el-button>
      </div>
      <div class="right">
        <el-button>新建</el-button>
      </div>
    </div>

    <!-- :header-cell-style="{ background: '#F0F1F3', color: '#656565' }" -->
    <div ref="tableDiv" class="p20 bgfff">
      <el-table
        ref="table"
        :data="tableData"
        style="width: 100%"
        align="center"
        v-adaptive="{ bottomOffset: 60 }"
        :header-cell-style="{ background: '#F0F1F3', color: '#656565' }"
        height="100px"
      >
        <el-table-column type="selection" width="55"> </el-table-column>
        <el-table-column
          v-for="(col, index) in cols"
          :key="index"
          :prop="col.p"
          :label="col.l"
          align="center"
        >
        </el-table-column>
        <el-table-column label="操作" align="center">
          <template scope="row">
            <div class="df_center">
              <img
                class="mr12"
                src="@/assets/icon/check.svg"
                @click="action(row)"
                alt=""
              />
              <img
                class="mr12"
                src="@/assets/icon/edit.png"
                @click="action(row)"
                alt=""
              />
              <img
                class="mr12"
                src="@/assets/icon/del.png"
                @click="action(row)"
              />
            </div>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage4"
        :page-sizes="[100, 200, 300, 400]"
        :page-size="100"
        layout="total, sizes, prev, pager, next, jumper"
        :total="400"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
// import adaptive from "./directive/el-table";
import adaptive from "@/directive/el-table";
export default {
  name: "gardenTable",
  props: {
    cols: [],
  },
  directives: { adaptive },
  data() {
    return {
      currentPage1: 5,
      currentPage2: 5,
      currentPage3: 5,
      currentPage4: 4,
      autoHeight: 250,
      searchForm: {},
      tableData: [
        {
          id: 1,
          gardenName: "2",
          customerName: "3",
          street: "4",
          arcTotalArea: "5",
          connection: "6",
          call: "7",
        },
      ],
      columns: [],
    };
  },

  mounted() {
    console.log("mounted");
    this.getHeight();
    window.addEventListener("resize", this.getHeight, false);
  },
  created() {
    // let _this = this;
    // let H = _this.$refs.tableDiv.offsetHeight;
    // _this.autoHeight = H;
  },
  methods: {
    action(action) {
      console.log("aaaction", action);
      this.$emit("operation", action);
    },
    getHeight() {
      this.autoHeight = document.documentElement.clientHeight - 250;
      console.log("getHeight", this.autoHeight);
    },
    handleSearch() {
      console.log("handleSearch");
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
    },
  },
};
</script>

<style lang="scss" scoped>
.wSearchInput {
  width: 243px;
}
::v-deep .el-button {
  background: #505976;
  color: #fff;
}
</style>
