<template>
  <div>
    <div class="searchBar df_jsb mb20">
      <div class="left df_ac">
        <div v-if="isIncluded('teamName')">
          <span>团队名称：</span>
          <el-input
            class="wSearchInput mr20"
            placeholder="单行输入"
            v-model="searchForm.teamName"
          ></el-input>
        </div>
        <div v-if="isIncluded('teamType')">
          <span>团队类型：</span>
          <el-input
            class="wSearchInput mr20"
            placeholder="单行输入"
            v-model="searchForm.teamType"
          ></el-input>
        </div>
        <div v-if="isIncluded('artificialPerson')">
          <span>法人代表：</span>
          <el-input
            class="wSearchInput mr20"
            placeholder="单行输入"
            v-model="searchForm.artificialPerson"
          ></el-input>
        </div>
        <div v-if="isIncluded('gardenName')">
          <span>标题：</span>
          <el-input
            class="wSearchInput mr20"
            placeholder="单行输入"
            v-model="searchForm.gardenName"
          ></el-input>
        </div>
        <div v-if="isIncluded('poster')">
          <span>发起人：</span>
          <el-input
            class="wSearchInput mr20"
            placeholder="单行输入"
            v-model="searchForm.poster"
          ></el-input>
        </div>
        <div v-if="isIncluded('postTime')">
          <span>发起时间：</span>
          <el-input
            class="wSearchInput mr20"
            placeholder="单行输入"
            v-model="searchForm.postTime"
          ></el-input>
        </div>
        <div v-if="isIncluded('gardenName')">
          <span>园区名称：</span>
          <el-input
            class="wSearchInput mr20"
            placeholder="单行输入"
            v-model="searchForm.gardenName"
          ></el-input>
        </div>
        <div v-if="isIncluded('houseCount')">
          <span>房屋数量：</span>
          <el-input
            class="wSearchInput mr20"
            placeholder="单行输入"
            v-model="searchForm.houseCount"
          ></el-input>
        </div>
        <div v-if="isIncluded('garden')">
          <span>所属园区：</span>
          <el-input
            class="wSearchInput mr20"
            placeholder="单行输入"
            v-model="searchForm.garden"
          ></el-input>
        </div>
        <div v-if="isIncluded('houseNumber')">
          <span>房屋编号：</span>
          <el-input
            class="wSearchInput mr20"
            placeholder="单行输入"
            v-model="searchForm.houseNumber"
          ></el-input>
        </div>

        <div v-if="isIncluded('company')">
          <span>企业名称：</span>
          <el-input
            class="wSearchInput mr20"
            placeholder="单行输入"
            v-model="searchForm.company"
          ></el-input>
        </div>

        <div v-if="isIncluded('houseType')">
          <span>房屋类型：</span>
          <el-input
            class="wSearchInput mr20"
            placeholder="单行输入"
            v-model="searchForm.houseType"
          ></el-input>
        </div>

        <el-button class="mr20 greyBtn" @click="handleSearch">搜索</el-button>
      </div>
      <div class="right">
        <el-button v-if="isIncluded('export')">
          <!-- <img
            class="mr12"
            src="@/assets/icon/export.png"
            @click="action(row)"
            alt=""
          /> -->
          导出
        </el-button>
        <el-button v-if="isIncluded('import')">导入</el-button>
        <el-button>新建</el-button>
        <el-button v-if="isIncluded('newBrooder')">新增入孵</el-button>
      </div>
    </div>

    <!-- :header-cell-style="{ background: '#F0F1F3', color: '#656565' }" -->
    <div ref="tableDiv" class="p20 bgfff">
      <!-- <el-table
        ref="table"
        :data="tableData"
        style="width: 100%"
        align="center"
        v-adaptive="{ bottomOffset: 60 }"
        :header-cell-style="{ background: '#F0F1F3', color: '#656565' }"
        height="100px"
      >
        <el-table-column type="selection" width="55"> </el-table-column>
        <el-table-column
          v-for="(col, index) in cols"
          :key="index"
          :prop="col.p"
          :label="col.l"
          align="center"
        >
        </el-table-column>
        <el-table-column label="操作" align="center">
          <template scope="row">
            <div class="df_center">
              <img
                class="mr12"
                src="@/assets/icon/check.svg"
                @click="action(row)"
                alt=""
              />
              <img
                class="mr12"
                src="@/assets/icon/edit.png"
                @click="action(row)"
                alt=""
              />
              <img
                class="mr12"
                src="@/assets/icon/del.png"
                @click="action(row)"
              />
            </div>
          </template>
        </el-table-column>
      </el-table> -->
      <vxe-table
        show-header-overflow
        show-overflow
        v-adaptive="{ bottomOffset: 100 }"
        highlight-hover-row
        align="center"
        :data="tableData"
      >
        <vxe-column type="checkbox" width="60" align="center"></vxe-column>
        <vxe-column
          type="seq"
          title="序号"
          width="60"
          align="center"
        ></vxe-column>
        <vxe-column
          v-for="(col, index) in cols"
          :key="index"
          :field="col.p"
          :title="col.l"
          align="center"
        ></vxe-column>
        <vxe-column title="操作" align="center">
          <template #default="{ row }">
            <div class="df_center">
              <img
                v-if="isIncluded('check')"
                class="mr12"
                src="@/assets/icon/check.svg"
                @click="action(row, 'check')"
                alt=""
              />
              <img
                v-if="isIncluded('edit')"
                class="mr12"
                src="@/assets/icon/edit.png"
                @click="action(row, 'edit')"
                alt=""
              />
              <img
                v-if="isIncluded('del')"
                class="mr12"
                src="@/assets/icon/del.png"
                @click="action(row, 'del')"
              />
            </div>
          </template>
        </vxe-column>
      </vxe-table>
      <el-pagination
        v-if="isIncluded('pager')"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage4"
        :page-sizes="[100, 200, 300, 400]"
        :page-size="100"
        layout="total, sizes, prev, pager, next, jumper"
        :total="400"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
// import adaptive from "./directive/el-table";
import adaptive from "@/directive/el-table";
export default {
  name: "gardenTable",
  props: {
    cols: Array,
    type: {
      type: String,
    },
    search: {
      type: String,
      default: "",
    },
    operation: {
      type: String,
      default: "",
    },
  },
  directives: { adaptive },
  filters: {},
  data() {
    return {
      currentPage1: 5,
      currentPage2: 5,
      currentPage3: 5,
      currentPage4: 4,
      autoHeight: 250,
      searchForm: {},
      tableData: [
        {
          id: 1,
          gardenName: "2",
          customerName: "3",
          street: "4",
          arcTotalArea: "5",
          connection: "6",
          call: "7",
        },
      ],
      columns: [],
    };
  },

  mounted() {
    console.log("mounted", this.search);
    this.getHeight();
    window.addEventListener("resize", this.getHeight, false);
  },
  created() {
    // let _this = this;
    // let H = _this.$refs.tableDiv.offsetHeight;
    // _this.autoHeight = H;
  },
  methods: {
    isIncluded(str) {
      let searchArr = this.search.split(",");
      let operationArr = this.operation.split(",");
      console.log(
        "isIncluded",
        searchArr,
        operationArr,
        str,
        searchArr.includes(str)
      );
      if (searchArr.includes(str)) return true;
      if (operationArr.includes(str)) return true;
      return false;
    },
    action(row, action) {
      console.log("aaaction", action);
      this.$emit("operationTrigger", { row, action });
    },
    handleSearch() {
      console.log("handleSearch");
      this.$emit("searchTrigger", this.searchForm);
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
    },
  },
};
</script>

<style lang="scss" scoped>
.wSearchInput {
  width: 200px;
}
::v-deep .el-button {
  background: #505976;
  color: #fff;
}

::v-deep .el-pagination {
  text-align: right !important;
}
</style>
