<template>
  <div class="bgfff br5 pt30 oh">
    <el-form>
      <el-form-item class="df_ac">
        <span class="form_item_lw">标题：</span>
        <el-input style="width: 275px;"></el-input>
        <div class="descri">
          <span class="mlr20">{{ 0 }}/50</span>
          <span
            >说明：标题要准确反映主要内容、不要以偏概全、断章取义、无中生有、内容空洞</span
          >
        </div>
      </el-form-item>
      <el-form-item class="df_ac">
        <span class="form_item_lw">作者：</span>
        <el-input style="width: 275px;"></el-input>
        <div class="descri">
          <span class="mlr20">{{ 0 }}/10</span>
        </div>
      </el-form-item>
      <el-form-item class="df_ac">
        <span class="form_item_lw">类型：</span>
        <el-select>
          <el-option label="新闻资讯"></el-option>
          <el-option label="公告推送"></el-option>
          <el-option label="政策推广"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item class="df_ac">
        <span class="form_item_lw">发布范围：</span>
        <el-button style="width: 275px;" @click="showAreaTree = true"
          >点击选择范围</el-button
        >
      </el-form-item>
      <el-form-item class="df_ac">
        <span class="form_item_lw">封面图：</span>
        <div>
          <div>
            <el-radio-group>
              <el-radio>单图大</el-radio>
              <el-radio>单图小</el-radio>
              <el-radio>多图</el-radio>
            </el-radio-group>
          </div>
          <div><el-button size="mini" type="primary">点击上传</el-button></div>
        </div>
      </el-form-item>
      <el-form-item class="df_ac">
        <span class="form_item_lw">摘要：</span>
        <el-input type="textarea" style="width: 275px;"></el-input>
        <div class="descri">
          <span class="mlr20">{{ 0 }}/300</span>
        </div>
      </el-form-item>
      <el-form-item class="df_ac">
        <span class="form_item_lw">政策正文：</span>
        <div id="editor"></div>
      </el-form-item>
    </el-form>
    <div class="bgfff br_b_lr h88 df df_jr ac">
      <!-- <el-button class="btn mr20">取消</el-button> -->
      <el-button type="primary" class=" mr20">确认</el-button>
    </div>

    <el-dialog
      title="选择园区范围"
      :visible.sync="showAreaTree"
      width="30%"
      :before-close="handleClose"
    >
      <div style="border-bottom: 1px solid #ccc;">
        <span
          style="display: block;border-bottom: 6px solid #3894ff; padding-bottom: 5px;width: 50px;"
          >范围</span
        >
      </div>
      <div class="p10 border_ mt20">
        <el-input
          placeholder="搜索"
          prefix-icon="el-icon-search"
          v-model="input2"
        >
        </el-input>
        <el-tree
          class="mt20"
          :data="data"
          show-checkbox
          node-key="id"
          :default-expanded-keys="[2, 3]"
          :default-checked-keys="[5]"
          :props="defaultProps"
        >
        </el-tree>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="danger" @click="dialogVisible = false"
          >取 消</el-button
        >
        <el-button type="primary" @click="dialogVisible = false"
          >确 定</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import E from "wangeditor";
export default {
  name: "HgsPost",

  data() {
    return {
      showAreaTree: false,
      data: [
        {
          id: 1,
          label: "管委会",
          children: [
            {
              id: 4,
              label: "二级 1-1",
              children: [
                {
                  id: 9,
                  label: "三级 1-1-1",
                },
                {
                  id: 10,
                  label: "三级 1-1-2",
                },
              ],
            },
          ],
        },
        {
          id: 2,
          label: "园区",
          children: [
            {
              id: 5,
              label: "汇华商贸大厦",
            },
            {
              id: 6,
              label: "华盛大厦",
            },
          ],
        },
      ],
      defaultProps: {
        children: "children",
        label: "label",
      },
    };
  },

  mounted() {
    const editor = new E("#editor");
    editor.config.height = 276;
    editor.config.zIndex = 1;
    editor.create();
  },

  methods: {},
};
</script>

<style lang="scss" scoped>
::v-deep .el-form-item--medium .el-form-item__content {
  display: flex;
  align-items: flex-start;
}
#editor {
  width: 595px;
}
::v-deep .el-dialog__title {
  line-height: 24px;
  font-size: 18px;
  color: #3894ff;
}

::v-deep .el-dialog__body {
  padding-left: 20px;
  padding-right: 20px;
}
</style>
